@media screen and (min-width: 768px) {
  .header-position {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    max-width: 834px;
    margin: 0 auto;
  }

  .header .logo {
    display: flex;

    color: #000;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    font-family: "Raleway", sans-serif;
    padding-right: 87px;
  }

  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 96px;

    column-gap: 50px;
  }

  .navigation__item {
    position: relative;
  }

  .navigation__link,
  .header-contact-link {
    font-weight: 500;
    font-size: 14px;
    color: $main-color;
    letter-spacing: 0.28px;
  }


  .header-contact__link {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #757575;
  }

  .header-contact__link:hover,
  .navigation__link:hover {
    color: $accent-color;
  }

  .navigation__link {
    position: relative;
  }

  .navigation__link:hover::after {
    content: "";
    display: block;
    border-radius: 2px;
    height: 4px;
    background: $accent-color;
    position: absolute;
    top: 45px;
    width: 100%;
  }

  .header-contact__link:hover .header__icon {
    fill: $accent-color;
  }

  .header__icon {
    fill: #757575;
  }

  .header__icon:hover {
    fill: $accent-color;
  }

  .header-contact__item:nth-child(2) {
    margin-top: 10px;
  }

  .svg-smartphone {
    height: 16px;
    width: 10px;
    margin-right: 10px;
  }

  .svg-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  .accent__logo {
    color: $accent-color;
  }
}

@media screen and (min-width: 1200px) {
  .header-position {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
    max-width: 1600px;
    margin: 0 auto;
  }

  .header .logo {
    display: flex;

    color: #000;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    font-family: "Raleway", sans-serif;
  }

  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 93px;

    column-gap: 50px;
  }

  .navigation__item {
    position: relative;
  }

  .header-contact__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .navigation__link,
  .header-contact-link {
    font-weight: 500;
    font-size: 14px;
    color: $main-color;
    letter-spacing: 0.28px;
  }

  .header-contact__item + .header-contact__item {
    margin-left: 50px;
  }

  .header-contact__item:nth-child(2) {
    margin-top: 0;
  }

  .header-contact__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-contact__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $text-color;
  }

  .header-contact__link:hover,
  .navigation__link:hover {
    color: $accent-color;
  }

  .navigation__link {
    position: relative;
  }

  .navigation__link:hover::after {
    content: "";
    display: block;
    border-radius: 2px;
    height: 4px;
    background: $accent-color;
    position: absolute;
    top: 45px;
    width: 100%;
  }

  .header-contact__link:hover .header__icon {
    fill: $accent-color;
  }

  .header__icon {
    fill: #757575;
  }

  .header__icon:hover {
    fill: $accent-color;
  }

  .svg-smartphone {
    height: 16px;
    width: 10px;
    margin-right: 10px;
  }

  .svg-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  .accent__logo {
    color: $accent-color;
  }
}
